/* styles.scss */
body {
  font-family: "metropolis", sans-serif;
  padding-top: 82px;
}

a {
  text-decoration: none;
  color: #3A4253;
}

p {
  margin-bottom: 0;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.padding-xs {
  padding: 0.5rem;
}
.padding-xs-t {
  padding-top: 0.5rem;
}
.padding-xs-b {
  padding-bottom: 0.5rem;
}
.padding-xs-tb {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.padding-sm {
  padding: 1rem;
}
.padding-sm-t {
  padding-top: 1rem;
}
.padding-sm-b {
  padding-bottom: 1rem;
}
.padding-sm-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padding-md {
  padding: 2rem;
}
.padding-md-t {
  padding-top: 2rem;
}
.padding-md-b {
  padding-bottom: 2rem;
}
.padding-md-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 576px) {
  .padding-md-tb {
    padding-top: 1rem;
  }
}
.padding-lg {
  padding: 4rem;
}
.padding-lg-t {
  padding-top: 4rem;
}
.padding-lg-b {
  padding-bottom: 4rem;
}
.padding-lg-tb {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-primary {
  color: #00c9a7 !important;
}

.section-title {
  max-width: 64rem;
}

.btn {
  display: flex;
  padding: 10px 10px;
  width: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3A4253;
  font-weight: 600;
}
.btn-primary {
  background-color: #00c9a7;
  color: #fff;
}
.btn-primary:hover {
  background-color: #05a187;
  border-color: #00c9a7;
}
.btn-primary:active {
  background-color: #05a187 !important;
  border-color: #00c9a7 !important;
}
.btn-outline {
  background-color: transparent;
  border: 2px solid #333;
}
.btn-outline:hover {
  background: #333;
  color: white;
}
.btn-tertiary {
  padding: 0;
  border: none;
  align-items: flex-start;
  max-width: unset;
  color: #00c9a7;
}
.btn-tertiary:hover {
  border: none;
}

.btn-link {
  text-decoration: none;
}

.skewed-image {
  height: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
  display: block;
  border-radius: 20px; /* Adjust as needed */
}

section h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 48px;
}
@media (max-width: 757px) {
  section h2 {
    font-size: 1.5rem;
  }
}
section h2 span {
  color: #00c9a7 !important;
}

.navbar {
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    margin: 32px 0;
    gap: 16px;
  }
}
.navbar .dropdown-menu.mega-menu.show {
  top: 80px;
}
.navbar .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar .navbar-brand .navbar-logo {
  height: 40px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .navbar .navbar-collapse .btn {
    margin-bottom: 32px;
  }
}
.navbar .nav-link {
  margin-right: 48px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
}
.navbar .nav-link.active {
  color: #00c9a7 !important;
}
.navbar .navbar-toggler {
  border: none;
}

@media (max-width: 576px) {
  .footer-section .footer-nav__details {
    flex-direction: column;
  }
  .footer-section .footer-nav__details .footer-info {
    margin-bottom: 32px;
  }
  .footer-section .footer-nav__details .row {
    gap: 24px;
  }
}
.footer-section .privacy-section {
  background-color: #3A4253;
  padding-bottom: 64px;
}
@media (max-width: 576px) {
  .footer-section .privacy-section .d-flex {
    flex-direction: column;
  }
}

.banner {
  padding: 3rem 0;
}
.banner h1 {
  font-size: 4rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
@media (max-width: 757px) {
  .banner h1 {
    font-size: 2rem;
  }
}
.banner h1 span {
  color: #00c9a7;
}
.banner p {
  color: #333;
}
.banner .img-fluid {
  border-radius: 0.5rem;
}
@media (min-width: 992px) {
  .banner .banner-text {
    padding-right: 32px;
  }
}
@media (max-width: 992px) {
  .banner .banner-image {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.software-development {
  background: #FBF9F9;
}
@media (min-width: 992px) {
  .software-development .software-development-image {
    padding-right: 32px;
  }
}
@media (max-width: 992px) {
  .software-development .software-development-image {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 992px) {
  .software-development .software-development-text h5 {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .software-excellence .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .software-excellence .location-text {
    font-size: 14px;
  }
}

.testimonial {
  background: #FBF9F9;
}
@media (max-width: 992px) {
  .testimonial .row .text-center {
    text-align: left !important;
  }
}
.testimonial .testimonial-content {
  padding-left: 32px;
}
@media (max-width: 992px) {
  .testimonial .testimonial-content {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .testimonial .blockquote p {
    font-size: 16px;
    line-height: 28px;
  }
}
.testimonial .person-img {
  border-radius: 0.25rem;
}
@media (max-width: 992px) {
  .testimonial .person-img {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .testimonial .person-img {
    height: auto;
    width: 225px;
  }
}
.testimonial .speaker-details p {
  color: #00c9a7;
  font-weight: 600;
  font-size: 20px;
}
.testimonial .blockquote img {
  margin-left: -28px;
}
@media (max-width: 992px) {
  .testimonial .blockquote img {
    display: none;
  }
}
@media (max-width: 576px) {
  .testimonial .company-logo {
    flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .testimonial .company-logo img {
    height: 42px;
    width: 97px;
  }
}

.technologies-section .tab-section {
  gap: 4rem;
}
@media (max-width: 991px) {
  .technologies-section .tab-section {
    flex-direction: column;
  }
}
.technologies-section .tab-section .technologies-content .text-left {
  text-align: left;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}
.technologies-section .tab-section .nav-tabs {
  border-bottom: 0;
  gap: 32px;
  border-right: 2px solid #3A4253;
  padding-right: 4rem;
}
@media (max-width: 991px) {
  .technologies-section .tab-section .nav-tabs {
    flex-direction: row !important;
    flex-wrap: nowrap;
    border-right: 0;
    overflow-x: scroll;
    padding-right: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .technologies-section .tab-section .nav-tabs::-webkit-scrollbar {
    display: none;
  }
}
.technologies-section .tab-section .nav-tabs .nav-link {
  padding: 0;
  border: none;
  border-radius: 0;
  font-weight: 600;
  border-left: 4px solid transparent;
  padding-left: 10px;
  font-size: 24px;
  white-space: nowrap;
  color: #3A4253;
}
@media (max-width: 991px) {
  .technologies-section .tab-section .nav-tabs .nav-link {
    border: 0;
  }
}
.technologies-section .tab-section .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: #00c9a7;
}
@media (max-width: 991px) {
  .technologies-section .tab-section .nav-tabs .nav-link.active {
    border: 0;
    color: #00c9a7;
  }
}
.technologies-section .tab-section .dev-platforms-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 767px) {
  .technologies-section .tab-section .dev-platforms-flex {
    flex-wrap: nowrap;
  }
}
@media (min-width: 512px) {
  .technologies-section .tab-section .dev-platforms-flex {
    justify-content: space-between;
  }
}
.technologies-section .tab-section .dev-platforms-flex .dev-platform {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: calc((100% - 20px) / 4);
  background-color: #f8f9fa;
  border-radius: 4px;
  transition: transform 0.3s ease;
  border: 2px solid #00c9a7;
}
@media (max-width: 1200px) {
  .technologies-section .tab-section .dev-platforms-flex .dev-platform {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 512px) {
  .technologies-section .tab-section .dev-platforms-flex .dev-platform {
    width: calc((100% - 20px) / 2);
  }
}
.technologies-section .tab-section .dev-platforms-flex .dev-platform:hover {
  transform: scale(1.05);
}
.technologies-section .tab-section .dev-platforms-flex .dev-platform img {
  max-height: 35px;
}
.technologies-section .tab-section .dev-platforms-flex .dev-platform p {
  margin: 0;
  color: #333;
  font-weight: bold;
}
@media (max-width: 576px) {
  .technologies-section .section-title h2 {
    text-align: left;
  }
  .technologies-section .section-title p {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .software-excellence .software-excellence-image {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .software-excellence .software-excellence-text {
    padding-left: 32px;
  }
}

.projects {
  background: #FBF9F9;
}
.projects img {
  width: 100%;
}

.insights .insights-box {
  padding: 16px 16px 16px 16px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
.insights-box img {
  margin-bottom: 1rem;
}
.insights-box h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.life-section {
  background: #FBF9F9;
}

.footer-section {
  padding-top: 0px;
  padding-bottom: 0px;
}
.footer-section .join-section {
  padding-top: 64px;
  background: white;
}
.footer-section .join-section h2 {
  color: #333;
}
.footer-section .join-section p {
  color: #333;
}
.footer-section .join-section .btn-tertiary {
  color: #333;
}
.footer-section .footer-nav {
  background-color: #3A4253;
  border-top: 2px solid #323C4F;
}
.footer-section .footer-nav .footer-info p {
  margin-bottom: 16px;
}
.footer-section .footer-nav .menu {
  flex-basis: 55%;
}
.footer-section .footer-nav .menu .list h5 {
  margin-bottom: 16px;
}
.footer-section .footer-nav .menu .list li {
  margin-bottom: 8px;
}

.mega-dropdown {
  position: static;
}
.mega-dropdown .dropdown-toggle::after {
  display: none;
}
.mega-dropdown .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background-color: #FBF9F9;
  padding: 2rem 0;
}
.mega-dropdown p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.mega-dropdown .dropdown-header {
  color: #333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mega-dropdown .dropdown-header h6 {
  margin: 0.5rem 0;
  font-size: 20px;
  font-weight: 600;
}
.mega-dropdown .dropdown-header img {
  max-height: 53px;
  margin-bottom: 0.5rem;
}
.mega-dropdown .dropdown-item {
  padding: 0.25rem 0;
  font-size: 1rem;
  color: #555;
}
.mega-dropdown .dropdown-item:hover, .mega-dropdown .dropdown-item:focus {
  color: #0056b3;
  text-decoration: none;
  background-color: transparent;
}

.inner-page-banner {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .inner-page-banner {
    padding: 1rem 0;
  }
}
@media (max-width: 992px) {
  .inner-page-banner .banner-image {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.inner-page-banner .banner-text {
  padding-left: 64px;
}
@media (max-width: 992px) {
  .inner-page-banner .banner-text {
    padding-left: 12px;
  }
}
.inner-page-banner h1 {
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
@media (max-width: 757px) {
  .inner-page-banner h1 {
    font-size: 2rem;
  }
}
.inner-page-banner h1 span {
  color: #00c9a7;
}
.inner-page-banner p {
  color: #333;
}
.inner-page-banner .img-fluid {
  border-radius: 0.5rem;
}

.values {
  margin-top: 64px;
  padding: 3rem 0;
  background: #FBF9F9;
}
@media (max-width: 576px) {
  .values {
    margin-top: 0px;
    padding: 1rem 0;
  }
}
.values h2 {
  margin-bottom: 32px;
}
.values p {
  color: #3A4253;
  max-width: 492px;
}
@media (max-width: 992px) {
  .values p {
    max-width: none;
    margin-bottom: 48px;
  }
}
.values .values-list .row {
  margin-bottom: 48px;
}
.values .values-list .row:last-child {
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .values .values-list .row {
    margin-bottom: 0px;
  }
}
@media (max-width: 992px) {
  .values .values-list .row p {
    margin-bottom: 48px;
  }
}
.values .values-list h3 {
  font-size: 20px;
  font-weight: 600;
  color: #3A4253;
  margin-bottom: 8px;
}
.values .values-list p {
  font-size: 14px;
  line-height: 28px;
  color: #3A4253;
  width: auto;
}

.stats {
  margin-top: 64px;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .stats {
    margin-top: 0x;
    margin-bottom: 0px;
  }
}
.stats h4 {
  font-family: "Archivo Black", sans-serif;
  font-size: 48px;
  color: #3A4253;
}
.stats .stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .stats .stat-box {
    margin-bottom: 64px;
  }
}
.stats .stat-box__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card {
  margin-bottom: 32px;
  border: none;
  background: none;
}
.card .card-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; /* 150% */
  margin-bottom: 0px;
}
.card .card-job {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-bottom: 8px;
  color: #3A4253;
}
.card .card-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 155.556% */
  color: #3A4253;
}
.card .card-body {
  padding-left: 0px;
  padding-right: 0px;
}
.card .member-contact {
  margin-top: 12px;
}

.team {
  background: #FBF9F9;
}
.team .team-title {
  margin-bottom: 32px;
}

.life-at-vanilla .life-at-vanilla-text {
  padding-left: 64px;
}
@media (max-width: 992px) {
  .life-at-vanilla .life-at-vanilla-text {
    padding-left: 12px;
    margin-top: 32px;
  }
}
.life-at-vanilla .btn {
  width: -moz-fit-content;
  width: fit-content;
}

.project-page-banner {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .project-page-banner {
    padding: 1rem 0;
  }
}
@media (max-width: 992px) {
  .project-page-banner .banner-image {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.project-page-banner .banner-text {
  padding-right: 64px;
}
@media (max-width: 992px) {
  .project-page-banner .banner-text {
    padding-right: 12px;
  }
}
.project-page-banner h1 {
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
@media (max-width: 757px) {
  .project-page-banner h1 {
    font-size: 2rem;
  }
}
.project-page-banner h1 span {
  color: #00c9a7;
}
.project-page-banner p {
  color: #333;
}
.project-page-banner .img-fluid {
  border-radius: 0.5rem;
}

.join-us-page-banner {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .join-us-page-banner .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .join-us-page-banner {
    padding: 1rem 0;
  }
}
@media (max-width: 992px) {
  .join-us-page-banner .banner-image {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.join-us-page-banner .banner-text {
  padding-right: 64px;
}
@media (max-width: 992px) {
  .join-us-page-banner .banner-text {
    padding-right: 12px;
    margin-bottom: 32px;
  }
}
.join-us-page-banner .banner-buttons .btn {
  width: unset;
}
.join-us-page-banner h1 {
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
@media (max-width: 757px) {
  .join-us-page-banner h1 {
    font-size: 2rem;
  }
}
.join-us-page-banner h1 span {
  color: #00c9a7;
}
.join-us-page-banner p {
  color: #333;
}
.join-us-page-banner .img-fluid {
  border-radius: 0.5rem;
}

.job-perks {
  background: #FBF9F9;
}
@media (max-width: 768px) {
  .job-perks .perks-list-2 .perks:last-child {
    margin-bottom: 0px;
  }
}
.job-perks .perks {
  margin-bottom: 64px;
}
.job-perks .section-title p {
  margin-bottom: 32px;
}
.job-perks .perks-inner-container {
  gap: 24px;
}
.job-perks .perks-inner-container img {
  height: 45px;
  width: auto;
}
.job-perks .perks-inner-container p {
  text-align: left;
}
@media (max-width: 768px) {
  .job-perks .perks-inner-container {
    flex-direction: column;
    gap: 32px;
  }
}

.hiring-process .section-title {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .hiring-process .section-title {
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .hiring-process .section-title {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .hiring-process .banner-image {
    margin-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .hiring-process .banner-image {
    margin-bottom: 32px;
  }
}
.hiring-process .hiring-process-steps {
  padding-left: 48px;
}
@media (max-width: 992px) {
  .hiring-process .hiring-process-steps {
    padding-left: 16px;
  }
}
.hiring-process .hiring-step-text {
  padding-left: 32px;
}
@media (max-width: 992px) {
  .hiring-process .hiring-step-text {
    padding-left: 16px;
  }
}
.hiring-process .hiring-step-text h5 {
  font-size: 14px;
  line-height: 28px;
  color: #00c9a7;
  font-weight: 400;
}
.hiring-process .hiring-step-text h3 {
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-weight: 500;
}
.hiring-process .hiring-step-text p {
  font-size: 16px;
  line-height: 28px;
  color: #3A4253;
  font-weight: 400;
}
.hiring-process .hiring-step-container {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}
.hiring-process .hiring-step-container .hiring-step-text {
  text-align: left;
}
.hiring-process .hiring-step-container:last-child {
  margin-bottom: 0px;
}
.hiring-process .hiring-step-container:last-child::before {
  display: none;
}
.hiring-process .hiring-step-container::before {
  content: "";
  border: 1px dashed #00c9a7;
  position: absolute;
  height: 137px;
  margin-left: 28px;
  margin-top: 56px;
}
@media (max-width: 992px) {
  .hiring-process .hiring-step-container::before {
    display: none;
  }
}
@media (max-width: 576px) {
  .hiring-process .hiring-step-icon img {
    height: 42px;
    width: 42px;
  }
}

.current-openings {
  background: #FBF9F9;
}
.current-openings .section-title {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .current-openings .section-title {
    margin-bottom: 32px;
  }
}
.current-openings .job-posting {
  margin-bottom: 48px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
}
.current-openings .job-posting:last-child {
  margin-bottom: 0px;
}
.current-openings .title {
  text-align: left;
  width: 350px;
}
@media (max-width: 768px) {
  .current-openings .title {
    width: unset;
  }
}
.current-openings .title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #333;
}
@media (max-width: 768px) {
  .current-openings .title h3 {
    font-size: 16px;
  }
}
.current-openings .title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #3A4253;
}
@media (max-width: 768px) {
  .current-openings .title p {
    font-size: 12px;
  }
}
.current-openings .location {
  gap: 8px;
}
@media (max-width: 992px) {
  .current-openings .location {
    display: none !important;
  }
}
.current-openings .location p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.current-openings .time {
  gap: 8px;
}
@media (max-width: 992px) {
  .current-openings .time {
    display: none !important;
  }
}
.current-openings .time p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.current-openings .apply-now-button a {
  font-size: 18px;
  font-weight: 600;
  color: #00c9a7;
}
@media (max-width: 768px) {
  .current-openings .apply-now-button a {
    font-size: 14px;
  }
}
.current-openings .apply-now-button :hover {
  color: #333;
}

.getInTouch-page-banner {
  background: #FBF9F9;
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .getInTouch-page-banner {
    padding: 1rem 0;
  }
}
@media (max-width: 992px) {
  .getInTouch-page-banner .banner-image {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.getInTouch-page-banner .banner-text {
  padding-left: 64px;
}
@media (max-width: 992px) {
  .getInTouch-page-banner .banner-text {
    padding-left: 12px;
  }
}
.getInTouch-page-banner h1 {
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
@media (max-width: 757px) {
  .getInTouch-page-banner h1 {
    font-size: 2rem;
  }
}
.getInTouch-page-banner h1 span {
  color: #00c9a7;
}
.getInTouch-page-banner h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}
.getInTouch-page-banner p {
  color: #333;
}
.getInTouch-page-banner .img-fluid {
  border-radius: 0.5rem;
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact .contact-form form label {
  margin-bottom: 8px;
}
.contact .contact-form form input {
  height: 56px;
  border-radius: 4px;
  border-color: #DFDFDF;
}

.embark-adventure {
  background: #FBF9F9;
}
@media (max-width: 992px) {
  .embark-adventure .row {
    flex-direction: column-reverse;
  }
  .embark-adventure .row .life-at-vanilla-image {
    margin-bottom: 32px;
  }
}
.embark-adventure .btn {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 992px) {
  .embark-adventure .btn {
    margin-bottom: 32px;
  }
}
.embark-adventure .life-at-vanilla-text {
  padding-right: 64px;
}
@media (max-width: 992px) {
  .embark-adventure .life-at-vanilla-text {
    padding-right: 12px;
  }
}

.development-process {
  background: #FBF9F9;
}
.development-process .section-title {
  text-align: left;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .development-process .section-title {
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .development-process .section-title {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .development-process .banner-image {
    margin-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .development-process .banner-image {
    margin-bottom: 32px;
  }
}
.development-process .hiring-process-steps {
  padding-left: 48px;
}
@media (max-width: 992px) {
  .development-process .hiring-process-steps {
    padding-left: 16px;
  }
}
.development-process .hiring-step-text {
  padding-left: 32px;
}
@media (max-width: 992px) {
  .development-process .hiring-step-text {
    padding-left: 16px;
  }
}
.development-process .hiring-step-text h5 {
  font-size: 14px;
  line-height: 28px;
  color: #00c9a7;
  font-weight: 400;
}
.development-process .hiring-step-text h3 {
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-weight: 500;
}
.development-process .hiring-step-text p {
  font-size: 16px;
  line-height: 28px;
  color: #3A4253;
  font-weight: 400;
}
.development-process .hiring-step-container {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}
.development-process .hiring-step-container .hiring-step-text {
  text-align: left;
}
.development-process .hiring-step-container:last-child {
  margin-bottom: 0px;
}
.development-process .hiring-step-container:last-child::before {
  display: none;
}
.development-process .hiring-step-container::before {
  content: "";
  border: 1px dashed #00c9a7;
  position: absolute;
  height: 137px;
  margin-left: 28px;
  margin-top: 56px;
}
@media (max-width: 992px) {
  .development-process .hiring-step-container::before {
    display: none;
  }
}
@media (max-width: 576px) {
  .development-process .hiring-step-icon img {
    height: 42px;
    width: 42px;
  }
}